.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box-area {
  width: 800px;
}

.left-box {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #3586ff;
  color: white;
}

.right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.remember-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0px;
}

.input-group {
  margin-bottom: 10px;
}

#welcome {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}
.btn {
  background: #3586ff;
}
.btn:hover {
  transition: transform 0.4s ease-in-out;
  transform: scale(1.025);
  background-color: white;
  color: #3586ff;
}
input:hover {
  transition: transform 0.4s ease-in-out;
  transform: scale(1.025);
  background-color: #b4d4ff;
}
@media only screen and (max-width: 760px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  .right-box {
    padding: 20px;
  }
  .featured-image {
    width: 100px;
    height: 100px;
  }
  h1 {
    margin-bottom: 0px;
  }
  .welcome-msg {
    display: none;
  }
}
